body {
    background-color: lightgray;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 105%;
    width: 300px;
}

.search-btn, 
.reset-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 105%;
}